body{
    margin: 0;
    background-color: #F9F7ED;

}


header{
    background-color: #F9F7ED;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
}

#logo{
    width: 15vw;
    height: 10vh;
    padding-top: 2.3vh;
    margin-left: 6vw;
}
#book-share{
    margin-top: 3vh;
    /* width: 37%; */
    display: flex;
    flex-flow: row;

}
header svg{
    width: 7vw;
    height: 7vh;
    margin-right: 5vw;
}
header svg:hover{
    width: 7vw;
    height: 7vh;
    margin-right: 5vw;
    fill: #e6332A;
}

#kaart{
    z-index: 0;
    display: fixed;
    width: 100.1%;

    position: absolute;
    bottom: -2vh;
}

h1{
    font-family: 'neue_machinaultrabold';
    text-align: center
}

main{
    position: relative;
    height: 80vh;
}

#rect{
    z-index: 1;
    width: 12%;
    position: absolute;
    margin-left: 78vw;
    margin-top: 39vh;
}

#poly{
    z-index: 1;
    width: 15%;
    position: absolute;
    margin-left: 20vw;
    margin-top: 19.3vh;
}

#eli{
    z-index: 1;
    width: 15%;
    position: absolute;
    margin-left: 59.5vw;
    margin-top: 19.7vh;
}

.overlay {
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
  
.popup {
    z-index: 2;
    margin: auto;
    margin-top: 25vh;
    padding: 20px;
    border-radius: 10px;

    width: 30%;
    position: relative;
}

#poprect{
    background: #3929FD;

}
#poppoly{
    background: #FD8E3F ;
}

#popeli{
    background: #E6332A ;
}
  
.popup h2 {
    margin-top: 0;
    color: #F9F7ED;
    font-family: "neue_machinaultrabold";
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F9F7ED;
}

.popup .content {
    max-height: 30%;
    font-family: Arial, Helvetica, sans-serif;
    color: #F9F7ED;
}
  
@media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
}