@font-face {
    font-family: 'Neue Machina' ;
    src: url("../../fonts/NeueMachina-Ultrabold.ttf")
}

h1{
    margin: 16px 0px;
    font-size: 6rem;   
}

h2{
    font-family: "neue_machinaultrabold";   
}
#themas{
    font-family: "neue_machinaultrabold";   
    padding-top: 1rem;
}

#themas{
    width: 30%;
    color: #270F0C;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.tags div{
    background-color: #270F0C
    ;
    padding: 1vw 2vh;
    margin-bottom: 2vh;
    align-content: center;
    font-size: 2rem;
    font-family: "neue_machinaultrabold";   
    color: #F9F7ED;
    border-radius: 30px;
}
.tags div:hover{
    background-color: red;
    padding: 1vw 2vh;
    margin-bottom: 2vh;
    align-content: center;
    font-size: 3rem;
    font-family: "neue_machinaultrabold";   
    color: #F9F7ED;
    border-radius: 30px;
}