@font-face {
    font-family: 'Neue Machina' ;
    src: url("../../fonts/NeueMachina-Ultrabold.ttf")
}

body {
    background-color: #F9F7ED;
    margin: 0;
}

.roodkader {
    background-color: #E6332A;
}

/* .roodkader {
    background-image: linear-gradient(170deg, #F9F7ED, #F9F7ED, #F9F7ED, #F9F7ED,  #da4a45);
} */

.NeueMachina {
    font-family: 'Neue Machina';
}

.stories-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.story-title {
    margin: 16px 0px;
    font-size: 6rem
}

p {
    font-size: 3rem;
}

.small {
    font-weight: 300;
    font-size: 1.5rem;
}

.tag {
    font-size: 1.5rem;
}

.story {
    flex: 1 1 100%; /*  Stretching: */
    /* margin: 5px; */

}

@media only screen and (max-width: 640px) {      

.stories-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
    .story-title {
        margin: 16px 0px;
        font-size: initial;
    }

  

    .story {
    flex: 1 1 150px; /*  Stretching: */
    /* margin: 5px; */
}
}