#app{
    height: 100%;
    margin: auto;
    margin-top: 0;
    background-color: #F9F7ED;

}


#slide{
    display: flex;
    justify-content: space-around;
}

#story{
    width: 80%;
    margin: auto;
    padding-top: 5vh;
}


h1{
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

h2{
    text-align: center;
}

#button{
    width: 100%;
    background-color: transparent;
    border-color: transparent;
    align-items: center;
}


#button #micro{
    display: flex;
    justify-content: center;
}

audio{
    width: 101%;    
    margin-bottom: 12.5vh;

}

#micro svg {
    padding-top: 5vh;
    padding-right: 5vw;
    padding-left: 5vw;
    width: 200;
    width: 20vw;
}

form {
    font-family: "neue_machinaultrabold";
    margin: 2.5rem;
}

input{
    border: transparent;
    width: 100%;
    height: 4vh;
}
label{
    margin-top: 3vh;
    font-size: 1.3rem;
}
textarea{
    margin-top: 1vh;
    border: transparent;
    width: 100%;
}
select{
    border: transparent;
    width: 100%;
    padding: 3vw;

}
#btn{
    background-color: #E94E1B;
    color: white;
    width: 50%;
    border-radius: 20px;
    margin-left: 25%;
    font-family: "neue_machinaultrabold";
}

/* Popup system */

#popup {
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background: #E94E1B;
  transform: translate(-50%, -50%) scale(0);
  font-family: "neue_machinaultrabold";
  color: white;
}

#popup.active {
  transform: translate(-50%, -50%) scale(1);
}

